<div class="alert info">
Need help modifying this view? See "program_templates/new" for ideas
</div>



<% 
if params[:program_id] 
  @program_enrollment.program_id = params[:program_id].to_i
end

if params[:user_id] 
  @program_enrollment.user_id = params[:user_id].to_i
end

if params[:program_session_id] 
  @program_enrollment.program_session_id = params[:program_session_id].to_i
end
%>


<% if @program_enrollment.user_id %>

  Enrolling <%= @program_enrollment.user.name %> 
<% else %>


  <!-- FRIEND FINDER -->
  <div id="spinner_catchup_friend_finder%>" style="display:none;">
    <center><img src="/images/spinner.gif"/></center>
  </div>
  <div class="class_friend_finder ">

    <%= render :partial => "user_friends/friend_finder", :locals => {:program_id => @program_enrollment.program_id}  %>

  </div>
  <!-- FRIEND FINDER -->

<% end %>











