<h1>My Invitations</h1>



<% @invites.each do |invite| %>

    <%
    from_user = User.find(invite.from_user_id)
    team = Team.find(invite.purpose_join_team_id)
    if from_user and team and team.name
        %>
          <br />
          <%= link_to '<b>' + from_user.name + '</b> invited you to join <b>' + team.name + '</b>', invite %>
            to work on <b>
            <% if team.goal_template_parent_id 
                follow_goal = Goal.find(team.goal_template_parent_id)
                if follow_goal
                    %>
                    <%=h follow_goal.title %>
                    <%
                else
                    %>
                    error finding goal
                    <%
                end
                %>
            <% else %>

                <% if team.category_name %>
                    any <%=h team.category_name %>-related goal
                <% else %>
                    error finding category
                <% end %>

            <% end %>
             </b>

          <br />
        <%
    end
    %>

<% end %>
