<h1>Forgot Password</h1>

<font color=red><strong><%= session[:flash_notice] %></strong></font>
<% session[:flash_notice] = "" %>

Fill out the form below and instructions to reset your password will be emailed to you:<br />
<br />
 
<% form_tag password_resets_path do %>
  <label>Email:</label><br />
  <%= text_field_tag "email" %><br />
  <br />
  <p><%= submit_tag "Reset my password" %></p>
<% end %>



