<p>
  <b>Counter set name:</b>
  <%=h @counter_images_set.counter_set_name %>
</p>

<p>
  <b>Counter limit number:</b>
  <%=h @counter_images_set.counter_limit_number %>
</p>


<%= link_to 'Edit', edit_counter_images_set_path(@counter_images_set) %> |
<%= link_to 'Back', counter_images_sets_path %>