[Desktop Entry]
Encoding=UTF-8
Name=Link to lc51imCxhqgJXaKu1DuwYNgXGPE2XybSotLmUXrW3ddQZgMW7ha7eXlavlfSXFKAVhiqUVW_1TQ8hnQBMVCfA26XRpBQgSsmEQfVF1u8CITqHVcRoxI
Type=Link
URL=https://lh5.googleusercontent.com/lc51imCxhqgJXaKu1DuwYNgXGPE2XybSotLmUXrW3ddQZgMW7ha7eXlavlfSXFKAVhiqUVW_1TQ8hnQBMVCfA26XRpBQgSsmEQfVF1u8CITqHVcRoxI
Icon=image-png
