<html>
<head>
<base href="http://habitforge.com/"/>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>




<br>
<br>
<div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFFFCC;color:#514721;border-color:#BBBBBB;">
<h3>
<% if @from_user.show_gravatar %>
  <% gravatar = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@from_user.email.downcase)}?d=mm" %>
  <img src="<%= gravatar %>&s=30" />            
<% else %>
  <img src="http://habitforge.com/home/images/default_gravatar.png" height="30px"/>
<% end %>

  <%= @from_user.first_name %> sent you <%= @rating.to_s %> Impact Points for your message below:</h3><%= @tomessage.body.gsub("\n", "<br>") %>
<h3>The highest-rated messages are also sent to HabitForge support... the best ones may be integrated into the site. Thanks for helping out!!</h3>
</div>
<hr>

 <p>
   To manage your goal settings or your account, log into <a href="http://habitforge.com">http://habitforge.com</a>
 </p>

 <p>
 Questions? Email <a href="mailto:support@habitforge.com">support@habitforge.com</a>
 </p>


</body>
</html>
