<html>
<head>
  <base href="http://habitforge.com/"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body>
<p>
Hi <%= @user.first_name %>.
<br>
<br>Your HabitForge account and any goal, history, and log data will be deleted in <%= @grace_period %> unless you log into your account and either create a goal or "check-in" on an existing goal.
<br>
<br>(In order to optimize the user experience for our active HabitForge members, we need to remove inactive accounts every <%= @inactivity_period %>)
<br>
<br>To avoid having your account removed, you can simply log into your account at http://habitforge.com . If you're having trouble logging in, feel free to email support@habitforge.com and we can help.
<br>
<br>
<br>
<a href="http://habitforge.com">Log In and Create a Habit</a>
<br>
<br>
<br>Thanks for your continued support, and best of luck with your goals!
<br>
<br>Sandon Jurowski
<br>HabitForge Creator
<br>http://habitforge.com
<br>
<br>
<br>
<br>Questions? Email support@habitforge.com
<br>
</body>
</html>
