<html>
<head>
  <base href="http://habitforge.com/"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
</head>
<body>
<p>
Hi <%= @user.first_name %>.
<br>
<br>I know this may be a strange question to ask, but I'm reaching out to anyone who has used the HabitForge web application at one point or another since its inception 4 years ago for a quick favor.
<br>
<br>
<br>Due to some outdoor mold allergy issues making our sons' (ages 2 and 4) lives difficult almost year-round here in Madison, Wisconsin, our family is seeking relief by relocating to southern California in the immediate future.
<br>
<br>
<br>Our house is going on the market next week, and both my wife and I are just starting to look for new jobs in the San Diego area.
<br>
<br>
<br>I am talking with recruiters (either for web app development or IT Director/Manager roles), and there are some promising leads, but this morning I had an idea:
<br>
<br>
<br>We're probably all connected to someone in California... maybe a few of the people who've been impressed by the HabitForge web app have a lead on an opportunity with a great company in the San Diego area? 
<br>
<br>
<br>And hey, if you never used the app after signing up or if you tried it and found it was "not your thing", no hard feelings :)
<br>
<br>

<div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFFFCC;color:#514721;border-color:#BBBBBB;">
    <p>
<h3>So here's a little about me:</h3>
<br>I've been working as a medical school Pediatrics IT Director at the University of Wisconsin-Madison (managing a group of 7 awesome tech guys) during the past 7 years. I've been with Peds IT for a total of 15 years. 
<br>
<br>I created HabitForge.com in my spare time 4 years ago, and during that time 100,000 people have used it, and I have a hundred or more testimonials from people who used it to improve their lives.
<br>
<br>I love creating web applications that make people's lives easier, but my IT Director experience has also taught me how to effectively bridge the gap between the tech and business worlds, helping to coordinate resources to get projects started and completed. 
<br>
<br>Web App Portfolio: http://jurowski.wix.com/portfolio
<br>LinkedIn Profile: http://www.linkedin.com/in/sandonjurowski
</div>


<br>So that's me, in a nutshell. 
<br>
<br>Above all, I want to make a difference, so I'm looking for companies I can work with that are committed to improving people's lives.
<br>
<br><strong>Do you know of any great companies in the San Diego area (or any company with remote program-from-home-office opportunities) that fit the bill and could benefit from my services? If so, drop me a line by replying to this email... I'd love to chat with you!</strong>
<br>
<br>
<br>Best of luck with your goals!
<br>
--Sandon
<br>
<br>
<br>Sandon Jurowski
<br>HabitForge Creator
<br>
<br>Web App Portfolio: http://jurowski.wix.com/portfolio
<br>LinkedIn Profile: http://www.linkedin.com/in/sandonjurowski

<br>
</body>
</html>
