<p>
  <b>User:</b>
  <%=h @user_motivation_type.user_id %>
</p>

<p>
  <b>Motivation:</b>
  <%=h @user_motivation_type.motivation_id %>
</p>


<%= link_to 'Edit', edit_user_motivation_type_path(@user_motivation_type) %> |
<%= link_to 'Back', user_motivation_types_path %>