<p>
  <b>Template goal:</b>
  <%=h @template_achievemint.template_goal_id %>
</p>

<p>
  <b>Achievemint:</b>
  <%=h @template_achievemint.achievemint_id %>
</p>


<%= link_to 'Edit', edit_template_achievemint_path(@template_achievemint) %> |
<%= link_to 'Back', template_achievemints_path %>