AddHandler fcgid-script .fcgi 
AddHandler cgi-script .cgi 
Options +FollowSymLinks +ExecCGI 
#RewriteEngine On 
#RewriteCond %{REQUEST_URI} ^/notrails.* 
#RewriteRule .* - [L] 
#RewriteRule ^$ index.html [QSA] 
#RewriteRule ^([^.]+)$ $1.html [QSA]     
#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteRule ^(.*)$ dispatch.fcgi [QSA,L]
