<h1>Listing promotion1s</h1>

<table>
  <tr>
  </tr>

<% @promotion1s.each do |promotion1| %>
  <tr>
    <td><%= link_to 'Show', promotion1 %></td>
    <td><%= link_to 'Edit', edit_promotion1_path(promotion1) %></td>
    <td><%= link_to 'Destroy', promotion1, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New promotion1', new_promotion1_path %>