<% 
  intro_phrase = "Shared Goals"
  @their_active_goals = Array.new()
  they = User.find(:first, :conditions => "id = '#{params[:shared_u]}'")
  if they == nil
      %>
      That user does not exist.
      <%
  else
      %>

      <% if current_user != nil %> 
          <a href="/cheers"><--Back</a>
      <% end %>  
      
      <p>


      <% 
      if params[:one_g] 
        begin
            one_goal = Goal.find(params[:one_g])
            if one_goal and one_goal.is_active_and_public
              @their_active_goals << one_goal
            end
        rescue
            puts "didn't find goal"
        end
      else 
        @their_active_goals = they.active_public_goals
      end 


      if !@their_active_goals or @their_active_goals.size == 0
        intro_phrase = "<h3>#{they.first_name} has no Shared Goals at this time</h3>"
      end 
      if @their_active_goals and @their_active_goals.size == 1
        intro_phrase = "<h3>#{they.first_name}'s Shared Goal</h3>"
      end 
      if @their_active_goals and @their_active_goals.size > 1
        intro_phrase = "<h3>#{they.first_name}'s Shared Goals</h3>"
      end 


      %>
      <%= intro_phrase %>
      <%
      @their_active_goals.each do |goal|
          %>
          <div class="div_habit">
          <h4>Working on "<%= goal.title %>".</h4>
            <%= goal.stats_image %>
            <%= goal.stats_output %>
          </div>
        <%
      end
      %>
      <%
  end
  %>
  

  <br />
 