/*  SGJ CUSTOM  */

/*  
http://www.maratz.com/blog/archives/2010/07/06/fix-html-resized-images-in-internet-explorer/
HTML resized images in Internet Explorer look like crap, unless you add the following line in IE-speciffic CSS:
*/
img { -ms-interpolation-mode: bicubic; }

.the_date {
display:block;
text-align: center;
float:left;
font-family: Arial, Helvetica, sans-serif;
background: url(/images/calendar_icons/silver-white1_75.png) no-repeat;
width:60px;
height:60px;
}

.date_day_of_week {
display:block;
font-size: .8em;
margin:-9px;
margin-top:-15px;
padding:1.2em;
font-weight: bold;
text-align:center;

}

.date_month {
display:block;
font-size: 1em;
margin:2px;
padding:0;
font-weight: bold;
text-align:center;
}


.date_day_of_month {
display:block;
font-size:1.5em;
margin:-15px;
padding:0em 0 0em 5;
text-align: center;
}


/*
############################# */
/* CHECK IN DATE BADGE */
.the_date_checkin {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
background: url(/images/calendar_icons/bluegray_75.png) no-repeat;
width:60px;
height:60px;
margin-left:7px;
padding-right:20px;
}

.date_day_of_week_checkin {
display:block;
font-size: .8em;
margin:-9px;
margin-top:-15px;
padding:1.2em;
font-weight: bold;
text-align:center;
}

.date_month_checkin {
display:block;
font-size: 1em;
margin:2px;
padding:0;
font-weight: bold;
text-align:center;
}


.date_day_of_month_checkin {
display:block;
font-size:1.5em;
margin:-15px;
padding:0em 0 0em 5;
text-align: center;
}
/* END CHECK IN DATE BADGE */
/*
############################# */







div.date_goal_list {
border-radius:20px;
-moz-border-radius:20px;
border-width:medium;
border-style:none;
border-color:#eeeeee;
background-color:#ffffff;
padding:10px;
margin:0px;
width:800px;
}

div.until_midnight {
margin-top: 0px;
margin-left: 105px;

}

div.until_midnight_tomorrow {
margin-top: -25px;
margin-left: 105px;

}

div.other_future_habits {
margin-top: -25px;
margin-left: 10px;

}


div.div_habit {
border-radius:20px;
-moz-border-radius:20px;
border-width:thin;
border-style:solid;
border-color:#eeeeee;
background-color:#ffffff;
padding:10px;
margin-left: 50px;
width:700px;
}


div.div_stats {
margin-top: 0px;
margin-left: 50px;

}

div.div_team {
margin-top: 0px;
margin-left: 50px;

}


div.spinner_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(/images/ajax-loader_2.gif) center center no-repeat;
    /* 
    background: rgba(0,0,0,.5) url(/images/ajax-loader.gif) center center no-repeat;
    background: black url(/images/ajax-loader.gif) center center no-repeat;
    opacity: .5;    
    */
}


/* LIGHT BOX
http://www.emanueleferonato.com/2007/08/22/create-a-lightbox-effect-only-with-css-no-javascript-needed/
*/
.black_overlay{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}
.white_content {
  position: absolute;
  top: 10%;
  left: 5%;
  /*
  top: 20%;
  left: 25%;
  width: 50%;
  height: 500px;
  */
  width: 85%;
  padding: 16px;
  border: 16px solid black;
  background-color: white;
  z-index:1002;
  overflow: auto;
}
.div_close_button {
  position: absolute;

  top: 5%;
  left: 92%;
  width: 90%;
  padding: 16px;

  /*
  top: 18%;
  left: 76%;
  width: 55%;
  height: 55%;
  padding: 16px;
  */
  z-index:1003;
  overflow: auto;
}
/* END LIGHT BOX
*/

div.stats_badge {
border-radius:20px;
-moz-border-radius:20px;
border-width:medium;
border-style:solid;
border-color:#eeeeee;
background-color:#ffffff;
padding:10px;
margin:0px;
/*width:350px;*/
}


.signup_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
  background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color:#ffc477;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:18px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #cc9f52;
}.signup_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  background-color:#fb9e25;
}.signup_button:active {
  position:relative;
  top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */





    .btn_red_gradient {
        
        -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
        -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
        box-shadow:inset 0px 1px 0px 0px #f29c93;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
        background:-moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
        background:-webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
        background:-o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
        background:-ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
        background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
        
        background-color:#fe1a00;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #d83526;
        
        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:22px;
        font-weight:bold;
        padding:11px 24px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #b23e35;
        
    }
    .btn_red_gradient:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
        background:-moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background:-webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background:-o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background:-ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background:linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
        
        background-color:#ce0100;
    }
    .btn_red_gradient:active {
        position:relative;
        top:1px;
    }




.start_now {
        -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
        -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
        box-shadow:inset 0px 1px 0px 0px #fff6af;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
        background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
        background-color:#ffec64;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #ffaa22;
        display:inline-block;
        color:#333333;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:1px 1px 0px #ffee66;
}.start_now:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
        background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
        background-color:#ffab23;
}.start_now:active {
        position:relative;
        top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


/* DEFAULT "COLOR" of "pink" WAS:
#f96e5b
and
#FE7360
...did a find and replace on that
and changed it to:;
#FF4000
*/

ul.project_list{
list-style:none;
}

ul.project_list li{
padding-bottom:5px;
background-image:url(/images/tick.png);
background-repeat:no-repeat;
background-position:left center;
padding-left:20px;
}

.portfolio_top{
padding:0px 0px 65px 0px;
}

.portfolio_top h3{
float:left;
padding-bottom:0px;
}

.portfolio_nav{
float:right;
}


.pf_prev {
background-repeat:no-repeat;
background-position:center center;
padding:5px 10px;
background-position:center center;
background-repeat:no-repeat;
background-color:#333333;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
background-position:center center;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-moz-transition: all 200ms ease 0s;
background:url(/images/slider_prev.png) no-repeat scroll center center #ff4000;
border-color: #ff4000 #ff4000 #db5f4e;
border-image: none;
-webkit-border-bottom-left-radius:3px;
-moz-border-radius-bottomleft:3px;
border-bottom-left-radius:3px;
-webkit-border-top-right-radius:3px;
-moz-border-radius-topright:3px;
border-top-right-radius:3px;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 0 #ffc2ba inset;
cursor: pointer;
text-align: center;
margin-right:2px;
}

.pf_next {
background-repeat:no-repeat;
background-position:center center;
padding:5px 10px;
background-position:center center;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-moz-transition: all 200ms ease 0s;
background:url(/images/slider_next.png) no-repeat scroll center center #ff4000;
border-color: #ff4000 #ff4000 #db5f4e;
border-image: none;
-webkit-border-bottom-right-radius:3px;
-moz-border-radius-bottomright:3px;
border-bottom-right-radius:3px;
-webkit-border-top-right-radius:3px;
-moz-border-radius-topright:3px;
border-top-right-radius:3px;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 0 #ffc2ba inset;
cursor: pointer;
text-align: center;
}

.pf_page {
background-repeat:no-repeat;
background-position:center center;
padding:5px 10px;
background-position:center center;
background-repeat:no-repeat;
background-color:#333333;
background-position:center center;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
-moz-transition: all 200ms ease 0s;
background:url(/images/pf_page.png) no-repeat scroll center center #ff4000;
border-color: #ff4000 #ff4000 #db5f4e;
border-image: none;
border-style: solid;
border-width: 1px;
box-shadow: 0 1px 0 0 #ffc2ba inset;
cursor: pointer;
text-align: center;
margin-right:2px;
}

.pf_prev:hover, .pf_next:hover, .pf_page:hover {
  -moz-transition: background-color 0.3s ease 0s, border 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease-in-out 0s;
  border-color: #353535;
  background-color: #1A1D1E;
  box-shadow: inset 0 1px 0 0 #808080;
}




/*
PRETTY FORM INPUT ELEMENTS
http://net.tutsplus.com/tutorials/html-css-techniques/design-a-prettier-web-form-with-css-3/
*/
input, textarea { 
  padding: 9px;
  border: solid 1px #E5E5E5;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  width: 200px;
  background: #FFFFFF url('bg_form.png') left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  }

textarea { 
  width: 400px;
  max-width: 400px;
  height: 150px;
  line-height: 150%;
  }

input:hover, textarea:hover,
input:focus, textarea:focus { 
  border-color: #C9C9C9; 
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  }

.form label { 
  margin-left: 10px; 
  color: #999999; 
  }

.submit input {
  width: auto;
  padding: 9px 15px;
  background: #617798;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  }
/* END PRETTY FORM ELEMENTS */




/*
Get the HTML5 "placeholder" functionality replicated in browsers like IE that don't yet support it
http://www.cssnewbie.com/cross-browser-support-for-html5-placeholder-text-in-forms/#.UlvL49c2t2M
*/
 .hasPlaceholder {
  color: #777;
}

/*************** END SGJ CUSTOM   ****************************/