/*  SGJ CUSTOM  */

/*  
http://www.maratz.com/blog/archives/2010/07/06/fix-html-resized-images-in-internet-explorer/
HTML resized images in Internet Explorer look like crap, unless you add the following line in IE-speciffic CSS:
*/
img { -ms-interpolation-mode: bicubic; }


.the_date {
display:block;
text-align: center;
float:left;
font-family: Arial, Helvetica, sans-serif;
background: url(/images/calendar_icons/silver-white1_75.png) no-repeat;
width:60px;
height:60px;
}

.date_day_of_week {
display:block;
font-size: .8em;
margin:-9px;
margin-top:-15px;
padding:1.2em;
font-weight: bold;
text-align:center;

}

.date_month {
display:block;
font-size: 1em;
margin:2px;
padding:0;
font-weight: bold;
text-align:center;
}


.date_day_of_month {
display:block;
font-size:1.5em;
margin:-15px;
padding:0em 0 0em 5;
text-align: center;
}


/*
############################# */
/* CHECK IN DATE BADGE */
.the_date_checkin {
text-align: center;
font-family: Arial, Helvetica, sans-serif;
background: url(/images/calendar_icons/bluegray_75.png) no-repeat;
width:60px;
height:60px;
margin-left:7px;
padding-right:20px;
}

.date_day_of_week_checkin {
display:block;
font-size: .8em;
margin:-9px;
margin-top:-15px;
padding:1.2em;
font-weight: bold;
text-align:center;
}

.date_month_checkin {
display:block;
font-size: 1em;
margin:2px;
padding:0;
font-weight: bold;
text-align:center;
}


.date_day_of_month_checkin {
display:block;
font-size:1.5em;
margin:-15px;
padding:0em 0 0em 5;
text-align: center;
}
/* END CHECK IN DATE BADGE */
/*
############################# */







div.date_goal_list {
border-radius:20px;
-moz-border-radius:20px;
border-width:medium;
border-style:none;
border-color:#eeeeee;
background-color:#ffffff;
padding:10px;
margin:0px;
width:800px;
}

div.until_midnight {
margin-top: 0px;
margin-left: 105px;

}

div.until_midnight_tomorrow {
margin-top: -25px;
margin-left: 105px;

}

div.other_future_habits {
margin-top: -25px;
margin-left: 10px;

}


div.div_habit {
border-radius:20px;
-moz-border-radius:20px;
border-width:thin;
border-style:solid;
border-color:#eeeeee;
background-color:#ffffff;
padding:10px;
margin-left: 50px;
width:700px;
}


div.div_stats {
margin-top: 0px;
margin-left: 50px;

}

div.div_team {
margin-top: 0px;
margin-left: 50px;

}


div.spinner_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(/images/ajax-loader_2.gif) center center no-repeat;
    /* 
    background: rgba(0,0,0,.5) url(/images/ajax-loader.gif) center center no-repeat;
    background: black url(/images/ajax-loader.gif) center center no-repeat;
    opacity: .5;    
    */
}


/* LIGHT BOX
http://www.emanueleferonato.com/2007/08/22/create-a-lightbox-effect-only-with-css-no-javascript-needed/
*/
.black_overlay{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}
.white_content {
  position: absolute;
  top: 10%;
  left: 5%;
  /*
  top: 20%;
  left: 25%;
  width: 50%;
  height: 500px;
  */
  width: 85%;
  padding: 16px;
  border: 16px solid black;
  background-color: white;
  z-index:1002;
  overflow: auto;
}
.div_close_button {
  position: absolute;

  top: 5%;
  left: 92%;
  width: 90%;
  padding: 16px;

  /*
  top: 18%;
  left: 76%;
  width: 55%;
  height: 55%;
  padding: 16px;
  */
  z-index:1003;
  overflow: auto;
}
/* END LIGHT BOX
*/

div.stats_badge {
border-radius:20px;
-moz-border-radius:20px;
border-width:medium;
border-style:solid;
border-color:#eeeeee;
background-color:#ffffff;
padding:10px;
margin:0px;
/*width:350px;*/
}


.signup_button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
  box-shadow:inset 0px 1px 0px 0px #fce2c1;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
  background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
  background-color:#ffc477;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:18px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:1px 1px 0px #cc9f52;
}.signup_button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
  background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
  background-color:#fb9e25;
}.signup_button:active {
  position:relative;
  top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */


.start_now {
        -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
        -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
        box-shadow:inset 0px 1px 0px 0px #fff6af;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
        background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
        background-color:#ffec64;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #ffaa22;
        display:inline-block;
        color:#333333;
        font-family:arial;
        font-size:15px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        text-shadow:1px 1px 0px #ffee66;
}.start_now:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
        background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
        background-color:#ffab23;
}.start_now:active {
        position:relative;
        top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

