<br>
<br>
<p>
  <%= link_to 'Modify', edit_program_template_path(@program_template), :class => "btn" %>
  <b>This template goal:</b>
  <%= link_to @program_template.template.title, @program_template.template %>

  <% if @program_template.listing_position %>
  	<b> is action item #<%= @program_template.listing_position %> in this program:</b>
  <% else %>
  	<b> is used in this program:</b>
  <% end %>

   <%= link_to @program_template.program.name, "/programs/" + @program_template.program.id.to_s + "#action_items" %>
</p>


