<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">


<link href="/stylesheets/reset.css" rel="stylesheet" type="text/css" media="all" /><!--Reset -->
<link href="/stylesheets/960.css" rel="stylesheet" type="text/css" media="all" /><!--Grid System -->
<link href="/stylesheets/typography.css" rel="stylesheet" type="text/css" media="all" /><!--All Website Typography -->
<link href="/stylesheets/skin.css" rel="stylesheet" type="text/css" media="all" /><!-- Dynamic Skin -->
<link href="/stylesheets/layout.css" rel="stylesheet" type="text/css" media="all" /><!--Site Layout -->
<link href="/stylesheets/superfish.css" rel="stylesheet" type="text/css" media="all" /><!--Dropdown Navigation -->
<!--[if IE 7]>
<link href="/stylesheets/ie7.css" rel="stylesheet" type="text/css" media="all" />
<![endif]-->
<link rel="/stylesheet" href="stylesheets/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" /><!--Lightbox Styling-->

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Lyphted - the HabitForge Success Tips Newsletter</title>
</head>

<body>


    <div style="min-width:360px;padding-right:40px;">
      <!-- Logo Start -->
      <center>
        <div>
        <a href="/"><img src="/home/images/logos/hf_logo_shield_rocket_transparency.png" style="width:15%;" alt="HabitForge logo" /></a>
        </div>
        <h1>Get <mark>Free Success Tips</mark> from "Lyphted"</h1>
        <h2>the Official HabitForge Newsletter.</h2>
     <!-- Press Logos Start -->
      <center>
        <img src="/home/images/logos/press_logos_v1_transparent.png" width="700" alt="press logos" />
      </center>
    <!-- Press Logos End -->



 



      <img src="/home/images/hr_fancy.png" />

      </center>
      <!-- LOGO END -->



    </div> <!-- end div top_header -->


<br>


<div style="padding-top:10px;width:80%;padding:50px;padding-left:100px;margin-top:-50px;">

<table border=0 cellpadding=5 cellspacing=5><tr><td>
<center>
  <br>
<div style="padding-top:0px;padding-right:10px;">
<img src="/home/images/coaches/man1/coach_man1_talking.png" />
<br>
Nick Davidson
</div>
</center>
</td>
<td valign=top>
<!-- <div style="padding:10px;padding-left:30px;margin-top:-10px;width:80%;background-color:#eeeeee;color:#002447;">
 --><div style="padding:.8em;margin-bottom:1em;border:2px solid #ddd;background:#FFFFCC;color:#514721;border-color:#eeeeee;-moz-border-radius: 15px;border-radius: 15px;">
"Hi... this is Nick Davidson, one of the coaches at HabitForge. 
<br>
<br>
Let's get you hooked up with the best tips on how to build and maintain healthy habits. Just sign up below to start getting timely habit-related messages from me, Lisa and other HabitForge coaches delivered right to your inbox, all for free!


</td>
</tr>

<tr>
<td>


</td>
</tr>
</table>
</div>




<div>



    <div style="width:100%;padding:20px;padding-top:5px;margin-top:-20px;">
<center>


</center>
    </div>

<!-- 5-second delay popup lightbox -->
<div class="AW-Form-2034110116"></div>
<script type="text/javascript">(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "http://forms.aweber.com/form/16/2034110116.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, "script", "aweber-wjs-ekycjndql"));
</script>

<center>
<h2>An example of the articles that you'll receive:</h2>
<iframe src="http://lyphted.com" width="1000" height="300">

</iframe>
<h2><a href="/widget/newsletter">Sign Me Up!!</a></h2>
</center>
</body>
</html>
