
<!-- Time.now.getutc -->
<h3>Tags for this template:</h3>
<% @template_tags = TemplateTag.find(:all, :conditions => "template_goal_id = '#{@goal.id}'") %>
<% if @template_tags.size == 0 %>
	No tags yet.
<% else %>
	<% @template_tags.each do |template_tag| %>
	  <span class="btn" style="padding:2px;"><%= template_tag.tag.name.gsub('_',' ') %> <a onclick="remove_tag_from_template_then_reload_template_tags('<%= template_tag.tag.id %>','<%= template_tag.template_goal_id %>');">x</a></span>
	<% end %>
<% end %>