<%
    ### AJAX RESOURCES
    ### http://pathfindersoftware.com/2007/09/rails-ajax-rjs/
%>    
<div style="background-color:#F8F8F8;padding:10px;">
<p>
    <!-- STATS HEADER START -->
    <%
    #function_name = "#{@goal.stats_image_small(25)} &nbsp #{@goal.successful_days_in_a_row_without_9s} days straight | #{@goal.percent_of_checkpoints_with_answer_of_yes}% Success Rate"
    #if @goal.status == "monitor"
    #    function_name << " (Goal: #{@goal.desired_success_rate}%)"
    #end

    if @goal.days_since_first_checkpoint > 30
    function_name = "<img src='/images/gear.png' height='30px'/> #{@goal.successful_days_in_a_row_without_9s} straight, #{@goal.percent_of_checkpoints_with_answer_of_yes}% overall #{@goal.percent_of_checkpoints_with_answer_of_yes}% last 30 days"

    else
    function_name = "<img src='/images/gear.png' height='30px'/> #{@goal.successful_days_in_a_row_without_9s} straight, #{@goal.percent_of_checkpoints_with_answer_of_yes}% last 30 days"

    end

    %>
    <%= link_to_function (function_name) {
     |page| 
     page.visual_effect(:fade, "watchers_#{@goal.id}", :duration => 0.0)
     page.visual_effect(:fade, "team_#{@goal.id}", :duration => 0.0)
     #page.visual_effect(:fade, "coach_#{@goal.id}", :duration => 0.2)
     page.visual_effect(:fade, "fire_#{@goal.id}", :duration => 0.2)
     page.visual_effect(:toggle_appear, "stats_#{@goal.id}", :duration => 0.2)
    } 
    %>
    <!-- STATS HEADER END -->



    <!-- WATCHERS-FOLLOWERS HEADER START -->
    <% 
    function_image = '<img src="/images/user_add_32.png" height="30px" />'
    function_name = "#{function_image} Followers (#{@goal.number_invites_sent_to_followers})"
    %>
    &nbsp | &nbsp
    <%= link_to_function (function_name) {
     |page|
         #page.visual_effect(:fade, "coach_#{@goal.id}", :duration => 0.0)
         page.visual_effect(:fade, "fire_#{@goal.id}", :duration => 0.2)
         page.visual_effect(:fade, "team_#{@goal.id}", :duration => 0.0)
         page.visual_effect(:fade, "stats_#{@goal.id}", :duration => 0.2)
         page.visual_effect(:toggle_appear, "watchers_#{@goal.id}", :duration => 0.2)

    } 
    %>
    <!-- WATCHERS-FOLLOWERS HEADER END -->


    <% if session[:site_name] == "habitforge" %>

        <!-- COACHING HEADER START 
        &nbsp | &nbsp
         link_to_function ("<img src='/images/User-Files-icon.png' height='23px' />&nbsp Coaching") {
            |page|
         page.visual_effect(:fade, "watchers_#{@goal.id}", :duration => 0.0)
         page.visual_effect(:fade, "team_#{@goal.id}", :duration => 0.0)
         page.visual_effect(:fade, "stats_#{@goal.id}", :duration => 0.2)
         page.visual_effect(:fade, "fire_#{@goal.id}", :duration => 0.2)
         #page.visual_effect(:toggle_appear, "coach_#{@goal.id}", :duration => 0.2)

        } 
        
         COACHING HEADER END -->

    <%
    end ### end whether habitorge
    %>


    <% if session[:site_name] == "habitforge" %>

        <!-- FIRE HEADER START --> 
        <% 
        if @goal.number_my_active_bets > 0
          for bet in @goal.my_active_bets
	    function_image = "<img src='/images/money_icon.png' height='50px' /> $#{bet.wager} to #{bet.recipient_name}?"
          end
        else
          function_image = "<img src='/images/money_icon.png' height='30px' /> Extra Accountability?"
        end
        #function_name = "#{function_image} "
 	%>
        &nbsp | &nbsp
        <%= link_to_function (function_image) {
            |page|
         page.visual_effect(:fade, "watchers_#{@goal.id}", :duration => 0.0)
         page.visual_effect(:fade, "team_#{@goal.id}", :duration => 0.0)
         page.visual_effect(:fade, "stats_#{@goal.id}", :duration => 0.2)
         #page.visual_effect(:fade, "coach_#{@goal.id}", :duration => 0.2)
         page.visual_effect(:toggle_appear, "fire_#{@goal.id}", :duration => 0.2)

        } 
        %>
         <!-- FIRE HEADER END -->

    <%
    end ### end whether habitorge
    %>


    <!-- TEAM OPTIONS HEADER START -->
    <% 
    function_image = '<img src="/images/user-group-icon.png" height="25px" />'
    if @goal.is_part_of_a_team 
        my_teammates = @goal.get_teammate_names_sans_me
        if my_teammates == ""
            function_name = "#{function_image} (waiting)"        
        else
            function_name = "#{function_image} Team: (#{@goal.get_teammate_names_sans_me})"
        end
    else
        function_name = "#{function_image} Team"
    end
    %>
    &nbsp | &nbsp
    <%= link_to_function (function_name) {
     |page|
         page.visual_effect(:fade, "watchers_#{@goal.id}", :duration => 0.0)
         #page.visual_effect(:fade, "coach_#{@goal.id}", :duration => 0.0)
         page.visual_effect(:fade, "fire_#{@goal.id}", :duration => 0.2)
         page.visual_effect(:fade, "stats_#{@goal.id}", :duration => 0.2)
         page.visual_effect(:toggle_appear, "team_#{@goal.id}", :duration => 0.2)
    } 
    %>
    <!-- TEAM OPTIONS HEADER END -->






</p>
</div>
