<!-- START STATS Section -->   


<!-- tried but kept getting stale results: 
    @goal.get_latest_stats_badge 
    and 
    @goal.get_latest_stats_badge_details 
-->

<%= @goal.stats_image %>
 <a href="/goals?#jump_to_goal_id_<%= @goal.id.to_s %>"><i class='icon-refresh'></i> Refresh Stats</a> 
<%= @goal.stats_output %>

<% if session[:refresh_stats] == true %>
    <p>
    <a href="/goals">Click to "Refresh Stats"</a>
    </p>
    <% session[:refresh_stats] = false %>
<% end %>

<p />


<!-- END STATS Section -->    
