
	<h2><a href="#undefined" onclick="toggle_show_hide('upgrade_offer')"><img src="/images/add_32.png" border="0" height="50px" /> Start a New Habit</a></h2>
</div>

<div id="upgrade_offer" class="alert" style="display:none;">
	<br>
	<br>

		<strong>Your account is currently restricted to one active habit at a time...</strong>
		<h3>Get Unlimited Active Habits, ad-free, with a Premium Membership!</h3>


	<h5>Who's recommending HabitForge to their readers?
	<a href="http://www.fourhourbody.com/" target="_blank">The 4-Hour Body</a>
	&nbsp;
	<a href="http://www.familycircle.com/family-fun/technology/online-tools-for-achieving-goals/" target="_blank">Family Circle</a>
	&nbsp;
	<a href="http://www.shape.com/lifestyle/mind-and-body/5-ways-change-your-life-good?page=3" target="_blank">Shape Magazine</a>
	&nbsp;
	<a href="http://www.womansday.com/Articles/Health-Fitness/Make-Healthy-Habits-Stick.html" target="_blank">Woman's Day</a>
	&nbsp;
	<a href="http://tech.ca.msn.com/pcworld-article.aspx?cp-documentid=23549978" target="_blank">PC World</a>
	</h5
	<br>
	<a href="https://habitforge.com/widget/upgrade" class="start_now" >Learn More</a>
	<br>
	<br>
	<p>
	<a href="#undefined" onclick="toggle_show_hide('upgrade_offer')">Not now, thanks</a>

	</p>                        
	<p />
	<p />
	<p />
	<p />
</div>
