<%
#begin
%>







  <% form_for(@goal) do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :object => f %>


  <% if @goal.template_owner_is_a_template %>






    <input type="submit" value="Save Changes to This Template" class="start_now" style="height:50px;">
  <% else %>
    <% if @goal.status == "hold" %>
          <!--<div class="notice">
              WARNING: By clicking "Save and Re-Activate" below, your history (the old checkpoint days and comments) WILL BE DELETED so that the success rate will stay relevant and accurate. THIS CAN NOT BE UNDONE.
          </div>
        -->
      <input type="submit" value="Save and Re-Activate" class="start_now" style="height:50px;">    
    <% else %>
<!--       <input type="submit" value="Save Changes to My Habit" class="start_now" style="height:50px;"> -->
    <% end %>
  <% end %>


    </p>
  <% end %>


  <p>


    <!-- if current_user.sponsor == "habitforge" and !current_user.is_habitforge_supporting_member and current_user.number_of_active_habits > 0 -->
        <!-- render :partial => "goals/upgrade_advertisement"  -->
<!--         <a href="/widget/upgrade" class="btn_red_gradient" style="color:#ffffff;text-decoration:none;line-height:40px;height:40px;">+ Start Another Habit</a>
 -->    <!-- else -->
        <a href="/goals/new" class="btn_red_gradient" style="color:#ffffff;text-decoration:none;line-height:40px;height:40px;">+ Start Another Habit</a>
    <!-- end -->


    <!-- or -->

<% if !current_user.is_premium and !@goal.first_start_date or (@goal.first_start_date and @goal.first_start_date >'2015-01-28'.to_date) %>


<br>
<br>
<br>
<a name="duration"></a>
<a href="/widget/upgrade"><img src="/home/images/sand_clock.png" /></a>

<% end %>

<!--     <= link_to Go to the Dashboard, goals_path ></p> -->

<%
#rescue
%>
<!--   <br>
  <p>Something went wrong. Go back to the <a href="http://habitforge.com">home page</a> and try again, or <a href="mailto:support@habitforge.com">Contact Support</a></p> -->
<%
#end
%>
