<font color=red>This goal is being put on hold. Email checkpoints will no longer be sent for this goal. <br><br>You will be able to re-activate it at any time by clicking on the goal under "Habits you've placed on hold" on the main goal page, and then clicking the "Re-activate" button.</font>
<br>
<br>
<p><a href="/goals">Back</a></p>
