<h3>...a start of something new</h3>

<% form_for(@goal) do |f| %>
    <%= f.error_messages %>



    <%= render :partial => "form", :object => f %>

<% if session[:sfm_virgin] == true and current_user.first_name == "unknown"%>
  <% first_name_value = "" %>
  <% 
  if params[:first_name] 
    first_name_value = params[:first_name]
  end

  if session[:layout_number]
  logger.info("sgj:got a signup from home page layout #" + session[:layout_number].to_s)
  end  
  %>
        
	<div style="float:left;">
	  <span style="font:2em Arial sans-serif;">What's your first name?</span>
	</div>
	<div style="float:right;">
	  <input type="textbox" name="first_name" value="<%= first_name_value %>" placeholder="ex: Steven" size=15 style="font:2em Arial sans-serif;">
	</div>

<div >
&nbsp
<br>
&nbsp
</div>
<% end %>

    <p>
    <br>
    <input type="submit" value="Create My New Habit" class="start_now" style="height:50px;">
    </p>

<% end %>

