<div>
<p>In order to speed up page loads throughout the site, actual links to share our site with others have been moved to this page.

<p>Please click on the appropriate link above to share habitforge.com with others! 
<p>
Best of luck with your goals!
<br>--Habitforge
</div>