      <% if @production %>

        <% if !secure_page? %>
          <div id="fb-root" ></div>
          <script>
            // Load the SDK Asynchronously
            (function(d, s, id){
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
               fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
          </script>



          <!-- CUSTOMIZE YOUR BOX HERE: https://developers.facebook.com/docs/plugins/like-box-for-pages/ -->
          <div class="fb-like-box" data-href="http://www.facebook.com/pages/habitforgecom/281059421608" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="dark" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>

        <% end %>

        <br>        
        <br>
<!--           <span class='st_fblike' displayText='Like HabitForge!'></span> -->
        <span class='st_facebook' displayText='Share on Facebook'></span>
        <span class='st_twitter' displayText='Tweet'></span>
        <span class='st_pinterest' displayText='Pinterest'></span>

        <br>
      <% else %>
        In production we'd have some facebook, twitter and pinterest links here.
      <% end %>
