            <div class="description">
                <em>


            <ul class="bxslider" style="padding-left:50px;" >


        <li>
            <p style="padding-right:100px;">
            "<span>Habitforge is a phenomenal change tool.</span> As a public health professional and trained social worker, I find their service perfect for scheduling the right time to plant an email trigger and and their "extra accountability" program is exceptional. I would recommend this to anyone, especially busy professionals, who check their email frequently and want a friendly automated reminder. Habitforge has literally helped me implement a core habit, Meditation, after years of failing and I'm more mindful and relaxed due to this great service. 
            <br>Thanks Habitforge!"
            <span style="font-weight:bold;">
                <br>Mozart Guerrier, Master Social Worker
                <br>Syracuse New York
            </span>
            </p>
        </li>

        <li><p style="padding-right:100px;">
        "I got further with HF than with all other kind of motivational tool, to-do-list or similar. Thank you so much for your service!"
        <span style="font-weight:bold;"><br>--Julia Anton</span>
        </p></li>



        <li><p style="padding-right:100px;">
        "HabitForge, for me, changes wishful thinking about my goals into commitment. It's a great tool for succeeding!"
        <span style="font-weight:bold;"><br>--Maria E. Key Biscayne, Fl</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "This is a rocking application! Because I do not want to break my chain of effort, it forces me to make sure that I keep my new habit I'm trying to form fresh and foremost on my mind. Well done Team HF!! Love the app!"
        <span style="font-weight:bold;"><br>--Sam</span>
        </p></li>



        <li>
            <p style="padding-right:100px;">
			"The best thing habitforge did for me was to keep bringing the issue to my attention. Everyday. One of the reasons I kept failing before was that you hang in there for a couple of days then you let it slip once, then twice to the point where you no longer can feel the initial desire to accomplish the task. Thanks to habitforge there was no running from it! Even your best mates cant be bothered to keep reminding you how important it is for you to achieve a certain thing. Grows sour after a bit. Habitforge doesn't mind. Pops up inbetween your mails and knocks it to your head without feeling awkward :)"
            <span style="font-weight:bold;">
                <br>Emre 28
                <br>Istanbul/Turkey
            </span>
            </p>
        </li>


        <li><p style="padding-right:100px;">
        "HabitForge gives me a level of personal accountability, without being overbearing or intrusive. If I am willing to be honest, both in my feedback, and with myself, it really helps with meeting my goal."
        <span style="font-weight:bold;"><br>--JJ</span>
        </p></li>




        <li><p style="padding-right:100px;">
        "I'm a goal oriented person but I need structure and motivation. In using HabitForge to manage a healthy diet I've lost weight and more importantly helped create a healthy life. I know that I need to check in daily and so I make wiser choices with that in mind."
        <span style="font-weight:bold;"><br>--Lindsay Michaelian, San Francisco, CA</span>
        </p></li>


        <li><p style="padding-right:100px;">
        "Great site! So good to see the progress you are making with a habit. Already helped me establish a couple of them one day at a time. Keep up the good work!"
        <span style="font-weight:bold;">--Deepak</span>
        </p></li>



        <li><p style="padding-right:100px;">
        "On days that I am pressured by time constraints or simply don't feel like reading my Bible and journaling, the accountability provided by my daily Habit Forge check in gives me the extra motivation I need."
        <span style="font-weight:bold;">--Kurt</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "I'd also like to take this opportunity to sincerely thank those who make HabitForge possible. Using your site, I have been able to quit smoking for good, finally. The work you guys do has literally changed my life, and I think you need to know that. So simply, Thank you!"
        <span style="font-weight:bold;">--Robert M</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "HabitForge is the best way to stay on top of my goals. Getting the encouraging email every day really helps!"
        <span style="font-weight:bold;">--Ben W., St. Louis, MO</span>
        </p></li>


        <li><p style="padding-right:100px;">
        "Hi... I really enjoyed getting the daily boot in the rump to get out there and exercise.  It was the daily reminder I needed to stay successful.  Its a really great site."
        <span style="font-weight:bold;"><br>--Monica in CA</span>
        </p></li>



        <li><p style="padding-right:100px;">
        "I was really motivated by HabitForge to reach my goal this month because I wanted to receive praise every day and get 100%!  I also enjoyed helping others reach their goals by giving them a little "push" and then hearing how they were motivated to succeed as well!"
        <span style="font-weight:bold;"><br>--Laura from Arkansas</span>
        </p></li>

        <li><p style="padding-right:100px;">
        HabitForge is really helpful for building new empowering habits or breaking old negative ones. I stopped watching TV and feel a lot more mindful now on a daily basis. I feel positive and working on my goals every day.
        <span style="font-weight:bold;">--Dimitar Petrov</span>
        </p></li>


        <li><p style="padding-right:100px;">
        "HabitForge rocks! Just I am starting my day it reminds me to stay the course!  Love the quotes I even share it with family members."
        <span style="font-weight:bold;">--Marilyn</span>
        </p></li>



        <li><p style="padding-right:100px;">
        "Even if you already have some self-discipline, it is easy to get distracted on the way to your goals. HabitForge has really helped me focus on making one change at a time. Using HabitForge has helped me get clearer about my goals, tighten my belt by two notches and have confidence about making the next changes in my life."
        <span style="font-weight:bold;">--Ted, Singapore</span>
        </p></li>


         



        <li><p style="padding-right:100px;">
        "Thanks to this little bit of accountability each day I'm able to say I can break a life long habit. It's funny how one simple e-mail each day can give me the motivation to not eat anything after supper and I've never felt more healthier. I often recommend this to my friends who are seeking their own self improvement goals. Thanks!"
        <span style="font-weight:bold;">--Dennis Early ... Puyallup,Washington</span>
        </p></li>


        <li><p style="padding-right:100px;">
        "HabitForge is a great tool that holds you accountable to your goals.  I appreciate the daily reminders and what I like even more are the random positive quotes."
        <span style="font-weight:bold;">--Andre P.</span>
        </p></li>


        <li><p style="padding-right:100px;">
        "HabitForge has allowed me to commit to my 2012 New Year's resolution of "becoming more positive." Receiving daily notifications ("Don't forget to think positive thoughts today!" and "Were you successful in thinking positively yesterday?") for a little over a year has kept me focused, on-track and committed. I strongly believe it has made a difference! HabitForge is my go-to for daily inspiration." 
        <span style="font-weight:bold;">--Victoria, Canada</span>
        </p></li>


        <li><p style="padding-right:100px;">
        "Just having this little bit of accountability helps to keep me on track. I have recommended it to friends and patients."
        <span style="font-weight:bold;">--Dr. Andrea</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "...For 387 days (so far) I have met my writing goal, and I plan to meet it every day for the rest of my life. In a business that breeds failure, HabitForge has helped me to find a way to achieve daily success, thank-you."
        <span style="font-weight:bold;">--David from Toronto</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "HabitForge is an amazing tool!  It overcomes the main obstacle of creating a habit -- remembering to do it!  I've used it for several habits... and has fixed all kinds of unproductive and unhealthy habits of mine in the past.  Thanks for getting me together, HabitForge!"
        <span style="font-weight:bold;">-- Greg, St. Louis, MO</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "HabitForge has been instrumental in my everyday success. I get a reminder to write every day and also an e-mail to check in about my progress. I think... I'd much rather click on Yes. So, I get moving and accomplish today's goals. HabitForge is a gentle yet profound way to keep on track and be successful."
        <span style="font-weight:bold;">--Barb, Minneapolis</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "HF is a gentle electronic 'nudge' every morning! We have so many things 'on our plate' that forming good habits can easily get lost in the day's busi-ness...but HF at least gives forming a new habit traction:*D "
        <span style="font-weight:bold;"><br>--Barbie B</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "A great tool for building a better you. Cheesy, I know, but nonetheless true. I'm going on day 67 of following my simple, but effective exercise plan."
        <span style="font-weight:bold;">--Lauge, Denmark</span>
        </p></li>




        <li><p style="padding-right:100px;">
        "I find HabitForge a great reminder for taking my water and vitamins...having the email reminders makes a big difference, i get the email, i get up and get my water and vitamins, it's that simple.  It's GREAT !! Plus, there are no excuses, it holds me accountable."
        <span style="font-weight:bold;">--Cindy Small</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "HabitForge both gives me a goal and provides accountability day to day.  It's a fantastic tool to stay on track when establishing good habits."
        <span style="font-weight:bold;">--Dave, Peoria IL</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "This is such a great site.  It has really helped me get focused with a couple of things that needed to be in my life.  It is very empowering."
        <span style="font-weight:bold;">--Susan</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "Habit Forge has been a wonderful tool to bring about some needed changes in my life. It has been nice  to have someone/thing to be accountable with someone who's not going to be judgmental when I fail but will help me keep track and encourage me to keep on track with my goals."
        <span style="font-weight:bold;"><br>James<br>Provo, Utah</span>
        </p></li>


        <li><p style="padding-right:100px;">
        "HabitForge is awesome! It has helped me stay on track with my live saving medication I have to take."
        <span style="font-weight:bold;">--Kendra K. CA</span>
        </p></li>





        <li><p style="padding-right:100px;">
        "HabitForge gives me that extra incentive that I need to get done the goals I previously failed to meet! For example, I won't be in the mood to drink water, but then I remember, HabitForge is going to ask me!! I better do it!! Sometimes I wonder how many other people's lives have improved by this free service upon which I had the fortune to stumble! HabitForge rocks!"
        <span style="font-weight:bold;"><br>--Lisa, New Orleans, LA</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "I have been remembering to attain my goal because HabitForge sends me an email every day.  Before I joined HabitForge I used to put off doing my goal and HabitForge keeps me on my toes!
        If I do forget, then the email sent to check that I attained my goal for the day before, nudges me to do it today."
        <span style="font-weight:bold;"> --Alvine - England</span>
        </p></li>


        

        <li><p style="padding-right:100px;">
		"Habitforge has been a tremendous help to keep me on top of my goals. I
		find the daily reminder emails, especially with my included personal
		message, makes a real difference between sticking to my plan or
		failing that day."
        <span style="font-weight:bold;">--Justin</span>
        </p></li>

        <li><p style="padding-right:100px;">
        "HabitForge was really helpful for helping me get out of the habit of late night snacking.  I was really ready for a change, and had clear benefits & detriments all thought out.  It's funny how just the thought: "I'd love to eat now, but I'd have to restart all over again," was enough to stop me on the most challenging nights."
        <span style="font-weight:bold;">--Becky, Bend, Oregon</span>
        </p></li>



        <li><p style="padding-right:100px;">
        "I had difficulty remembering a new medication. HabitForge provided me with the needed reminders so that I could follow my doctor's instructions. It also allowed me to tell him how successful I'd been so that we knew I needed to give it a longer trial to determine its effectiveness."
        <span style="font-weight:bold;">--Christy</span>
        </p></li>


        <li><p style="padding-right:100px;">
        "HabitForge has allowed me to stay true to my goals and to myself. No more excuses!"
        <span style="font-weight:bold;">--Rutger</span>
        </p></li>


            </ul>


                </em>
            </div>