        <li>
            <p style="padding-right:100px;">
"I couldn't be happier, I can already see the difference on my body..."
            </p>
        </li>

        <li>
            <p style="padding-right:100px;">
"My book is about 5000 words now, and nearly finished!""
            </p>
        </li>


        <li>
            <p style="padding-right:100px;">
"...and I can feel the urge to continue exercising daily."
            </p>
        </li>

        <li>
            <p style="padding-right:100px;">
"I've been trying to lose those last ten pounds for several years..."
            </p>
        </li>
        
        <li>
            <p style="padding-right:100px;">
"...it made a tremendous difference in fighting my fast food eating behavior."            </p>
        </li>

        <li>
            <p style="padding-right:100px;">
"I stopped smoking."
            </p>
        </li>

        <li>
            <p style="padding-right:100px;">
"...and with HabitForge I have reached my target weight in two months."
            </p>
        </li>
        
        <li>
            <p style="padding-right:100px;">
            "...I went from 10% bodyfat to 4% bodyfat..."
            </p>
        </li>
        <li>
            <p style="padding-right:100px;">
            "...My physique transformation is truly amazing..."
            </p>
        </li>



        <li>
            <p style="padding-right:100px;">
            "I haven't found anything else that's helped get me closer to my goals and on track...."
            </p>
        </li>
 
         <li>
            <p style="padding-right:100px;">
            "Habitforge is a phenomenal change tool..."
            </p>
        </li>