

        <!---- BELOW ARE COPIES of the longer list... they are "FEATURED TESTIMONIALS" -->
        <li>
            <img src="/home/images/quote_box_height_343.png" style="position:absolute;height:240px;width:300px;"/>

            <div style="padding:20px;height:150px;width:270px;overflow:auto;">
            
            "I've been using calorie counting sites for years but I could never make it even 1 week without going over my allowed calories at least 1 day a week (& more likely 3 or 4 days). But when I started using HabitForge (my goal being to not go over my calories any day), it just made so much sense & I'm so proud of myself & thankful to HabitForge."
            
            </div>

            <div style="margin-top:90px;margin-left:60px;font-weight:bold;font-spacing:3em;">
            <span style="font-family:Patrick Hand;color:#ff3300;font-size:1.9em;">
                Kathie Frey
                </span>
                <br>
                <div style="margin-top:5px;">
                Buffalo, NY
                </div> 
            </div>
        </li>



        <li>
            <img src="/home/images/quote_box_height_343.png" style="position:absolute;height:240px;width:300px;"/>

            <div style="padding:20px;height:150px;width:270px;overflow:auto;">
            
            "Habitforge has been that little thing that happens every day to keep me on track. It's not complicated or time intensive but it helps me to stay accountable.  I'm glad I found it!"
            
            </div>

            <div style="margin-top:90px;margin-left:60px;font-weight:bold;font-spacing:3em;">
            <span style="font-family:Patrick Hand;color:#ff3300;font-size:1.9em;">
                Lisa Savage
                </span>
                <br>
                <div style="margin-top:5px;">
                Newark, DE
                </div> 
            </div>
        </li>





        <li>
            <img src="/home/images/quote_box_height_343.png" style="position:absolute;height:240px;width:300px;"/>

            <div style="padding:20px;height:150px;width:270px;overflow:auto;">
            
            "Whenever I set out to accomplish something, I most often succeed when my desire is coupled with encouragement, positive motivation, inspiration. HabitForge has given me all that, along with accountability. Very awesome! Thanks for reminding people to be good to themselves!"
            
            </div>

            <div style="margin-top:90px;margin-left:60px;font-weight:bold;font-spacing:3em;">
            <span style="font-family:Patrick Hand;color:#ff3300;font-size:1.9em;">
                Kathryn Bromfield
                </span>
                <br>
                <div style="margin-top:5px;">
                NH
                </div> 
            </div>
        </li>


        <li>
            <img src="/home/images/quote_box_height_343.png" style="position:absolute;height:240px;width:300px;"/>

            <div style="padding:20px;height:150px;width:270px;overflow:auto;">
            
            "HabitForge is beautifully designed and helped me succeed at most of the habits I have put my mind onto. The email service is superb. I always look forward to click on 'I did it today' and it makes me feel awesome...I have already started recommending people for using Habitforge to build habits and change their lives forever...Love and all green lights for the people who made HabitForge possible..you rock :)"
            
            </div>

            <div style="margin-top:90px;margin-left:60px;font-weight:bold;font-spacing:3em;">
            <span style="font-family:Patrick Hand;color:#ff3300;font-size:1.9em;">
                Sayantan Sen
                </span>
            </div>
        </li>



        <li>
            <img src="/home/images/quote_box_height_343.png" style="position:absolute;height:240px;width:300px;"/>

            <div style="padding:20px;height:150px;width:270px;overflow:auto;">
            
            "HabitForge has just about perfected the mix of encouraging you to get to that task early so that you can proudly tick the box and move on with your day and using peer pressure to get you back on track if you happen to fall behind. Personally it's helped me experience the power of getting one important thing done first thing in the morning - somehow that empowers me to get loads more important things throughout the rest of the day."
            
            </div>

            <div style="margin-top:90px;margin-left:60px;font-weight:bold;font-spacing:3em;">
            <span style="font-family:Patrick Hand;color:#ff3300;font-size:1.9em;">
                Gordon
                </span>
            </div>
        </li>



        <li>
            <img src="/home/images/quote_box_height_343.png" style="position:absolute;height:240px;width:300px;"/>

            <div style="padding:20px;height:150px;width:270px;overflow:auto;">
            
            "For years, I've been trying to motivate myself to do this goal of reading the Bible Lesson each day. Not until HabitForge have I actually been able to keep doing it regularly! It's just a simple, but incredibly effective tool."
            
            </div>

            <div style="margin-top:90px;margin-left:60px;font-weight:bold;font-spacing:3em;">
            <span style="font-family:Patrick Hand;color:#ff3300;font-size:1.9em;">
                Estey Silva
                </span>
                <br>
                <div style="margin-top:5px;">
                Newton, MA
                </div> 
            </div>
        </li>








        <li>
            <img src="/home/images/quote_box_height_343.png" style="position:absolute;height:240px;width:300px;"/>

            <div style="padding:20px;height:150px;width:270px;overflow:auto;">
            
            "HabitForge has made it fun and automatic for me to stick to my goals!  There were a few days I would have skipped, but I didn't want to report that to HabitForge so I stuck to it!  HF is great - definitely recommend : )"
            
            </div>

            <div style="margin-top:90px;margin-left:60px;font-weight:bold;font-spacing:3em;">
            <span style="font-family:Patrick Hand;color:#ff3300;font-size:1.9em;">
                Julia Mozley
                </span>
                <br>
                <div style="margin-top:5px;">
                Albuquerque, NM
                </div> 
            </div>
        </li>


        <li>
            <img src="/home/images/quote_box_height_343.png" style="position:absolute;height:240px;width:300px;"/>

            <div style="padding:20px;height:150px;width:270px;overflow:auto;">
            
            "HabitForge deserves its name. Sincerely recommended."
            
            </div>

            <div style="margin-top:90px;margin-left:60px;font-weight:bold;font-spacing:3em;">
            <span style="font-family:Patrick Hand;color:#ff3300;font-size:1.9em;">
                Krzysztof Kula
                </span>
            </div>
        </li>
        <!---- ABOVE ARE COPIES OF THE LONGER LIST... they are THE "FEATURED TESTIMONIALS" -->








            <li>
                <div style="margin-left:50px;margin-top:150px;">
                <a href="/?more_testimonials=1#more_testimonials">
                    <span style="font-family:Patrick Hand;color:#ff3300;font-size:1.9em;">
                        Read more testimonials...
                    </span>
                </a>
                </div>
            </li>


